<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/selenium.java/src/test/java/selenium/java/TestChromeDriver1.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="selenium.java.TestChromeDriver1"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="selenium.java"/>
</launchConfiguration>
